
.item{
    background-color: #ffe5ec;
    color:#14021a;
    font-size:50px;
    text-align:center;
    font-family:"comic sans";

}
.container {
    display: flex;
    width: 100%;
    margin: 10f auto auto;
    border: 2px solid #333; /* The horizontal top of the T */
     font-size:40pf;
}


/* The vertical line of the T */
.ingredients {
    border-left: 2px solid #333; 
    border-right: 2px solid #333;
    width: 50%;
     font: size 25px;;
}

.recepie {
    width: 50%;
    font: size 25px;;
}