
.item{
    background-color: #ffe5ec;
    color:#14021a;
    font-size:30;
    text-align:center;
    font-family:"comic sans";

}
.container {
    display: flex;
    width: 100%;
    margin: 10f auto auto;
    border: 2px solid #333; /* The horizontal top of the T */
}

.aboutme {
    background-color: #ffe5ec;
    color:#14021a;
    font-size:30;
    text-align:center;
    font-family:"comic sans";

}
/* The vertical line of the T */
.ingredients {
    border-right: 2px solid #333; 
}

.recepie li {
    padding-left: 5%;
    padding-right: 5%;
}